# ==========================================
# Настройки подключения к брокеру сообщений
# ==========================================

# Адрес локального брокера (используем amqps для TLS)
BROKER_URL=amqps://127.0.0.1:6667

# Имя очереди по умолчанию для входящих пакетов
DEFAULT_QUEUE=TO.QUEUE

# Файл с метаданными и заголовками сообщения
DEFAULT_HEADERS_FILE=headers.json # Должен лежать в корне проекта

# Секретные данные для авторизации
USER_NAME=user
USER_PASSWORD=topsecret
