# Виртуальное окружение Python
venv/
.venv/
env/
ENV/
wenv/

# Кэш Python компиляции
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Локальные переменные окружения и секреты (на всякий случай)
.env
.env.local

# Логи работы скриптов
*.log

# Временные файлы операционных систем
.DS_Store
Thumbs.db

# Исключение для бинарников (если вы тестируете отправку локальных файлов)
*.bin
*.exe
*.dat
